<h3><%=@user.username%> Entries: </h3>

<h4><a href="/new">Create New Entry</a></h4>

 <%@entries.each_with_index do |entry, index| %>
   <h4>Entry #<%= index + 1 %></h4>
   <h5><%=entry.type%><br>
    <%=entry.date%a><br>
    <%=entry.rating%><br>
    <%=entry.content%></h5>
    <h4><a href="/edit/<%=entry.id%>">Edit Entry</a></h4>
    <h4><a href="/delete/<%=entry.id%>">Delete Entry</a></h4>
    

 <%end%>
<br>
<br>
<a href="/logout">Log Out</a>