<h4>Entry #<%= entry.id %></h4>

<h5><a href="entries/edit/<%=entry.id%>"><br>Edit Entry</a><br><br>
Type: <%= entry.type %><br>
 Date: <%= entry.date %><br>
 Rating: <%= entry.rating %><br>
 Content: <%= entry.content %><br>
 Contact: <%= entry.contact %><br><br>

<form action="/entries/<%=@entry.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete"><br><br><br>


</form>


<form action="/logout" method="get">
<input type="submit" value="Log Out">
</form>