<h4>Entry </h4>

<h4>
  Category: <%= @entry.category %><br>
 Date: <%= @entry.date %><br>
 Rating: <%= @entry.rating %><br>
 Content: <%= @entry.content %><br>
 Contact: <%= @entry.contact %><br><br>

<a href="/entries/edit/<%=@entry.id%>"><br>Edit</a> or 
<a href="/entries/delete/<%=@entry.id%>"> Delete</a> <br><br><br>

  
<form action="/logout" method="post">
<input type="submit" value="Log Out">
</form></h4>