<a href="/entries"><br>View All Entries</a> 

<h4>Entry</h4>

<h4>
  <table id="user-creds">
    <tr>
        <td>Category:</td> 
        <td><%= @entry.category %></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td><%= @entry.date %></td>
    </tr>
    <tr>
        <td>Rating:</td>
        <td><%= @entry.rating %></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td><%= @entry.content %></td>
    </tr>
    <tr>
      <td>Contact:</td> 
      <td><%= @entry.contact %></td>
    </tr><br>
  </table>

<a href="/entries/edit/<%=@entry.id%>"><br>Edit</a> or 
<a href="/entries/delete/<%=@entry.id%>"> Delete</a> <br><br><br>

  
<form action="/logout" method="post">
<input type="submit" value="Log Out">
</form></h4>