<h3><%= @user.username %></h3>

<h3> Edit Credentials: </h3>

<h2 style="color:blue;">
<% if flash[:error] == "Success!" %>
<%= flash[:error] %>
 Go Back To Your <a href="/entries">ENTRIES</a></h2>
<% else %>
<h3 style="color:red;">
<%= flash[:error] %>
<% end %></h3>

<form action='/users/edit_user' method="post">
<input type="hidden" name="_method" value="patch">
<h4> 

New Username: <input type="text" name="username" placeholder="<%=@user.username%>"><br><br>
New Email: <input type="text" name="email" placeholder="<%=@user.email%>"><br><br>
New Password: <input type="text" name="password"><br><br><br>

<input type="submit" value="Submit"></h4>
</form><br><br><br><br>

<form action="/logout" method="post">
<input class="input-button" type="submit" value= "Logout" name="logout" ><br>
</form>
